body, h1, div, a {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.block-label{
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: rgb(27, 10, 8);
}

h1 {
    text-align: center;
    color: white;
}

.my-form {
    background-color: rgb(226, 113, 100);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    background-color: rgb(117, 147, 238);
    height: 300px;
    width: 250px;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px beige;
}

.input-content{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 95%;
}

button{
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
    
    background-color: rgb(37, 30, 131);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(55, 58, 56);
    color: rgb(13, 14, 13);
}

a {
    background-color: green;
    /* margin: 10px 10px; */
    padding: 12px 6px;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 3px;
}
